* {
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    width: 100vw;
    height: 100vh;
}
.backgroundImage{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/backgroundSkye.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.root {
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    z-index: 222;
}
.root img {
    position: relative;
    left: -80px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}
.root img:hover {
    transform: scale(1.1);
}
.root button {
    margin-bottom: 50px;
    width: 200px; 
    height: 60px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    background-color: #FCD24F;
    border: 4px solid #5669A5;
    color: #5669A5;
    box-shadow: 0px 8px 0px #FCD24F;
    transition: transform 0.5s;
}
.root button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.root p {
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.audio {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}
.audio:hover i {
    transform: scale(1.2);
    transition: transform 0.5s;
}
.move {
    animation: moving 2s ease infinite;
}
@keyframes moving {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}

@media (max-width: 440px){ 
    .root img{
        width: 400px;
        left: -45px;
    }
}
@media (min-width: 441px) and (max-width: 800px){
    body{
        width: 100vw;
        height: 100vh;
    }
    .root{
        height: 100%;
    }
    .root img{
        margin-top: 40px;
        margin-bottom: 0;
        width: 300px;
        left: -40px;
    }
    .root button{
        margin-bottom: 0;
        width: 120px;
        height: 40px;
    }
}